@model X.PagedList.IPagedList<ArkSoft_MVC.Models.Customer>
@using X.PagedList.Mvc.Core;

@{
    ViewData["Title"] = "Customers";
}

@if (TempData["Success"] != null)
{
    <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-success text-white">
                    <h5 class="modal-title" id="successModalLabel">Success</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    @TempData["Success"]
                </div>
            </div>
        </div>
    </div>

    <script>
        var successModal = new bootstrap.Modal(document.getElementById('successModal'));
        successModal.show();
    </script>
}

@if (TempData["Delete"] != null)
{
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-success text-white">
                    <h5 class="modal-title" id="deleteModalLabel">Deleted</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    @TempData["Delete"]
                </div>
            </div>
        </div>
    </div>

    <script>
        var deleteModal = new bootstrap.Modal(document.getElementById('deleteModal'));
        deleteModal.show();
    </script>
}

@if (TempData["Update"] != null)
{
    <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-success text-white">
                    <h5 class="modal-title" id="updateModalLabel">Updated</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    @TempData["Update"]
                </div>
            </div>
        </div>
    </div>

    <script>
        var updateModal = new bootstrap.Modal(document.getElementById('updateModal'));
        updateModal.show();
    </script>
}

<h1 class="text-center mt-4">All Customers</h1>

<p class="text-center mb-4">
    <a asp-action="CreateCustomer" class="btn btn-green">Create New Customer</a>
</p>

<form asp-action="AllCustomers" method="get">
    <div class="search-container">
        <input type="text" id="searchInput" name="searchFilter" placeholder="Search by Name:" class="form-control" />
        <button type="submit" id="searchButton" class="btn btn-green" style="background-color: #2f4757">Search</button>
        <a asp-action="AllCustomers"
           asp-route-sortOrder="@ViewBag.currentSort"
           asp-route-sortDirection="@ViewBag.currentDirection"
           class="btn btn-green" style="background-color: #2f4757">Clear</a>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @{
                    string sortDirection;
                    if (ViewBag.currentSort == "Name")
                    {
                        sortDirection = ViewBag.nextDirection;
                    }
                    else
                    {
                        sortDirection = "asc";
                    }
                }
                @Html.ActionLink("Full Name", "AllCustomers",
                new { sortOrder = "Name", sortDirection = sortDirection, page = 1 })
            </th>
            <th>
                Address
            </th>
            <th>
                Telephone Number
            </th>
            <th>
                Contact Person Name
            </th>
            <th>
                Contact Person Email
            </th>
            <th>
                @{
                    string sortDirection2;
                    if (ViewBag.currentSort == "VAT Number")
                    {
                        sortDirection2 = ViewBag.nextDirection;
                    }
                    else
                    {
                        sortDirection2 = "asc";
                    }
                }
                @Html.ActionLink("VAT Number", "AllCustomers",
                new { sortOrder = "VAT Number", sortDirection = sortDirection2, page = 1 })
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null || Model.Count() == 0) //if no data to show
        {
            <tr>
                <td colspan="7">No Customer Data to Display</td>
            </tr>
        }
        else
        {
            //otherwise, show details of each  individual custoemr
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.custName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.custAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.custTelephone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.custContactName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.custContactEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.vatNumber)
                    </td>
                    <td style="max-width:fit-content">
                        <form asp-action="UpdateDetails" method="get" style="display: inline">
                            <input type="hidden" name="custID" value="@item.custID" />
                            <button type="submit" class="btn btn-green">Update</button>
                        </form>

                        <form asp-action="Delete" method="get" style="display: inline">
                            <input type="hidden" name="custID" value="@item.custID" />
                            <button type="submit" class="btn btn-green" onclick="return confirm('Are you sure you want to delete this customer?');">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<br />
<div id="pager">
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }
    <div class="button-group">
        <a asp-action="AllCustomers"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-page="@(Model.PageNumber - 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           asp-route-sortDirection="@ViewBag.currentDirection"
           class="btn btn-default @prevDisabled">
            Previous
        </a>
    </div>

    <p>
        @Model.PageNumber of @Model.PageCount
    </p>

    <div class="button-group">
        <a asp-action="AllCustomers"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-page="@(Model.PageNumber + 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           asp-route-sortDirection="@ViewBag.currentDirection"
           class="btn btn-default @nextDisabled">
            Next
        </a>
    </div>
</div>